@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
body{
    max-width: 1920px;
    display: block !important;
    margin: auto;
}
.center{
    
    display: flex;
    justify-content: center;
    
}
.imgSlider{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.image-show{
    flex-direction: column;
}
.overlay-color.active{
    opacity: 1;
    transform: scale(1);
}
.animate-img{
    transform: scale(1);
    transition: all 0.4s ease-in-out;
    opacity: 1;
}
@keyframes img {
    from{
        /* opacity: ; */
    }
}
.priceAllProduct s{
    color: gray;
}